<!DOCTYPE html>
<html ng-app="unicaApp">
    <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height">
  <!--jquery-->
	 <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	 <!--angular-->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ngmap@1.18.4/build/scripts/ng-map.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.min.js"></script>
	 <!--google map-->
	 <script src="https://maps.googleapis.com/maps/api/js?key=<votre_api_key>"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
 <!-- SheetJS js-xlsx library -->
 <!--<script src="lib/xlsx.full.min.js"></script>-->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js" integrity="sha512-ZfFfcp0ll1jVjeG5e7uPH1hwUyeoBUVAb3xRJpqBsH90jVegaYKv5nGOhGnUYxZg/kbYpl6EWVGvmWrbV32L9Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="lib//shim.js"></script>
  <!--materialize-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<!--datatables-->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>      
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
	 <style>
	 #map{
  width: 800px;
  height: 400px;
  border: 1px solid #6699FF;
  padding: 5px;
  border-radius: 20px;
  margin: 5px auto;
}
#DataTables_Table_0_filter {
display:none;
}
	 </style>
  </head>
  <body ng-controller="myCtrl">
  <header>
   <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Les unicas du CR PACA/Nice</a>
    </div>
  </nav>
  </header>
  <main>
  <div class="row">
  <div class="col l12">
  <div class="col l2">
   <p>
      <label>
        <input type="radio" class="with-gap" name="bibRadio" ng-model="bibRadio.shortname" value="" ng-click="filterMarkers()" checked />
        <span>Toutes les bibs</span>
      </label>
    </p>
	<p ng-repeat="data in datas | unique: 'shortname' | orderBy: data.shortname.length">
	 <label>
        <input type="radio" class="with-gap" name="bibRadio" ng-model="$parent.bibRadio.shortname" value="{{data.shortname}}" ng-click="filterMarkers()"/>
        <span>{{data.shortname}} ({{(totalFilteredResults|filter:data.shortname).length}})</span>
      </label>
	</p>
  </div>
  <div class="col l10">
  <div class="col l6">
  	   <div class="chip pink darken-4">
 <span class="white-text">Nombre d'unicas : {{(totalFilteredResults).length}}</span>
 </div>
 </div>
 <div class="col l4">
  <input id="search" type="text" class="validate" placeholder="Chercher un titre de revue..." ng-model="search" ng-change="searchFilter()">
 </div>
 </div>
  <div class="col l10">
  <ng-map id="map" center="[43.7154693,7.2656745]" zoom="8" mayTypeId="TERRAIN">
	  </ng-map>
	  </div>
	  <div class="col l10">
	  <table datatable="ng">
               <thead>
          <tr>
              <th>ppn</th>
			  <th>Titre</th>
			  <th>rcr</th>
              <th>Bibliothèque</th>
          </tr>
        </thead>
		<tbody>               
				<tr dt-rows ng-repeat="data in datas | filter:bibRadio | filter:search as totalFilteredResults">
				    <td>{{data.ppn}}</td>
					<td>{{data.titre_rdf}} (<a ng-href="http://www.sudoc.fr/{{data.ppn}}" target="_blanck">notice Sudoc</a>)</td>
                    <td>{{data.rcr}}</td>
                    <td>{{data.shortname}}</td>
                </tr>
                </tbody>
				<tfoot>
            <tr>
              <th>ppn</th>
			  <th>Titre</th>
			  <th>rcr</th>
              <th>Bibliothèque</th>
            </tr>
        </tfoot>
            </table>
			</div>
  </main>
   <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h6 class="white-text">Powered by</h6>
				<p><img src="img/logo_CR_SudocPS.png" /></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Made with</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="http://materializecss.com/" target="_blanck">Materialize</a></li>
				   <li><a class="grey-text text-lighten-3" href="https://angular.io/" target="_blanck">Angular</a></li>
				    <li><a class="grey-text text-lighten-3" href="https://developers.google.com/maps/?hl=fr" target="_blanck">Google Map API</a></li>
					 <li><a class="grey-text text-lighten-3" href="https://github.com/SheetJS/js-xlsx" target="_blanck">js.xlsx</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            2018
            </div>
          </div>
        </footer>
	 <script>
 'use strict';
var app = angular.module('unicaApp', ['angular.filter','ngMap','datatables']);

app.controller('myCtrl', function($scope, $http,$filter,NgMap) {
$scope.dynMarkers = [];
$scope.dynMarkers2 = [];
 $http({
    method:'GET',
    url:'data/data.xlsx',
    responseType:'arraybuffer'
  }).then(function(data) {
    var wb = XLSX.read(data.data, {type:"array"});
    var d = XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[0]]);
    $scope.datas = d;
	 NgMap.getMap().then(function(map) {
	for (var i=0; i<$scope.datas.length; i++) {
        var latLng = new google.maps.LatLng($scope.datas[i].latitude, $scope.datas[i].longitude);
        $scope.dynMarkers.push(new google.maps.Marker({position:latLng,label: $scope.datas[i].titre_rdf,bib: $scope.datas[i].shortname}));}
		 $scope.markerClusterer = new MarkerClusterer(map, $scope.dynMarkers, {imagePath: 'https://cdn.rawgit.com/googlemaps/js-marker-clusterer/gh-pages/images/m'});
//filtre bibliothèques		 
$scope.filterMarkers = function() {
  $scope.newmarkers1 = [];
  for (i = 0; i < $scope.dynMarkers.length; i++) {
    $scope.marker1 = $scope.dynMarkers[i];
    if ($scope.marker1.bib.indexOf($scope.bibRadio.shortname) > -1 || $scope.bibRadio.shortname.length == "0") {
      $scope.marker1.setVisible(true);
      $scope.newmarkers1.push($scope.marker1);
    }
    else {
      $scope.marker1.setVisible(false);
    }
  }
  $scope.markerClusterer.clearMarkers();
  $scope.markerClusterer.addMarkers($scope.newmarkers1);
}
//filtre titre
  $scope.searchFilter = function() {
  $scope.newmarkers2 = [];
  for (i = 0; i < $scope.dynMarkers.length; i++) {
    $scope.marker2 = $scope.dynMarkers[i];
	console.log($scope.marker2.label);
    if ($scope.marker2.label.indexOf($scope.search) > -1 || $scope.search == "0") {
      $scope.marker2.setVisible(true);
      $scope.newmarkers2.push($scope.marker2);
    }
    else {
      $scope.marker1.setVisible(false);
    }
  }
  $scope.markerClusterer.clearMarkers();
  $scope.markerClusterer.addMarkers($scope.newmarkers2);
                
            }
		});
  }, function(err) { console.log(err); });
  });
</script>
<!--angular datatable-->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>  
<script src="https://rawgithub.com/vivendi/angular-datatables/master/src/angular-datatables.js"></script>
	<script src="https://rawgithub.com/vivendi/angular-datatables/master/src/angular-datatables.directive.js"></script>
	<script src="https://rawgithub.com/vivendi/angular-datatables/master/src/angular-datatables.factory.js"></script>
	<script src="https://rawgithub.com/vivendi/angular-datatables/master/src/angular-datatables.bootstrap.js"></script> 
  </body>
  </html>
